<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body id="page">
        <div id="header">
            <div id="logo" class="ajax-spinner-static">Depository of Files</div>
        </div>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/common")
        @RenderSection("scripts", required: false)
    </body>
</html>
